#version: "3.9"

networks:
  hyperf_net:
    external: true

services:
  nginx-server:
    networks:
      - hyperf_net
    container_name: nginx-newest
    image: nginx
    volumes:
      - ../:/var/www
      - ./logs/nginx:/var/log/nginx
      - ./conf/nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./conf/nginx/conf.d:/etc/nginx/conf.d
    ports:
      - "80:80"
    environment:
      - NGINX_HOST=0.0.0.0
      - NGINX_PORT=80
    links:
      - fpm-server-7.3
      - fpm-server-7.4
      - fpm-server-8.3

  fpm-server-7.3:
    container_name: fpm-7.3
    build: ./fpm7.3
    networks:
      - hyperf_net
    volumes:
      - ../:/var/www
      - ./conf/php7.3/php.ini:/usr/local/etc/php/php.ini
      - ./conf/php7.3/yaf.ini:/usr/local/etc/php/conf.d/yaf.ini
      - ./conf/php7.3/php-fpm.conf:/usr/local/etc/php-fpm.d/www.conf
      - ./logs/fpm7.3:/var/log
      - ~/.ssh:/root/.ssh
    links:
      - redis-server
      - db-server
      - es-server

  fpm-server-7.4:
    container_name: fpm-7.4
    build: ./fpm7.4
    networks:
      - hyperf_net
    volumes:
      - ../:/var/www
      - ./conf/php7.4/php.ini:/usr/local/etc/php/php.ini
      - ./conf/php7.4/yaf.ini:/usr/local/etc/php/conf.d/yaf.ini
      - ./conf/php7.4/php-fpm.conf:/usr/local/etc/php-fpm.d/www.conf
      - ./logs/fpm7.4:/var/log
      - ~/.ssh:/root/.ssh
    links:
      - redis-server
      - db-server
      - es-server

  fpm-server-8.3:
    container_name: fpm-8.3
    build: ./fpm8.3
    networks:
      - hyperf_net
    volumes:
      - ../:/var/www
      - ./conf/php8.3/php.ini:/usr/local/etc/php/php.ini
      - ./conf/php8.3/yaf.ini:/usr/local/etc/php/conf.d/yaf.ini
      - ./conf/php8.3/php-fpm.conf:/usr/local/etc/php-fpm.d/www.conf
      - ./logs/fpm8.3:/var/log
      - ~/.ssh:/root/.ssh
    links:
      - redis-server
      - db-server
      - es-server

  db-server:
    container_name: mysql-8.0
    image: mysql:8.0
    volumes:
      - ./conf/mysql/my.conf:/etc/mysql/my.cnf
      - ./data/mysql:/var/lib/mysql
      - ./logs/mysql:/log
    environment:
      - MYSQL_ROOT_PASSWORD=root
    ports:
      - "3305:3306"
    networks:
      - hyperf_net

  redis-server:
    container_name: redis-8.0.2
    image: redis:8.0.2-alpine
    ports:
      - "6378:6379"
    networks:
      - hyperf_net

  es-server:
    container_name: es-7.16.0
    image: 'docker.elastic.co/elasticsearch/elasticsearch:7.16.0'
    networks:
      - hyperf_net
    environment:
      - "discovery.type=single-node"
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ports:
      - "9199:9200"
      - "9299:9300"
    volumes:
      - ./data/es:/usr/share/elasticsearch/data